#Artefacts
/_build/vc/_output
/enc/build
Debug.*.vc*
Release.*.vc*
Debug.*.gcc
Release.*.gcc
final.*.vc*
final.*.gcc*

# VS
.vs
ipch
*.db
*.opendb
*.vcxproj.user
*.suo

#InteliJ
/.idea
/*.iml

# Build scripts
__*.cmd

#logs
/src/*.log
logs
