[submodule "ext/FarManager"]
    path = ext/FarManager
    url = https://github.com/FarGroup/FarManager.git
[submodule "ext/spdlog"]
    path = ext/spdlog
    url = https://github.com/gabime/spdlog.git
[submodule "ext/libgit2"]
	path = ext/libgit2
	url = git@github.com:libgit2/libgit2.git
